@charset "UTF-8";
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Base Styles
   ========================================================================== */
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v42-latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-v42-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BebasNeue.woff2") format("woff2"), url("../fonts/BebasNeue.ttf") format("truetype");
}
:root {
  --darkblue: rgb(20, 28, 95);
  --blue: rgb(84, 169, 245);
  --purple: rgb(204, 45, 246);
  --yellow: rgb(255, 255, 122);
  --red: rgb(238, 122, 141);
  --darkgrey: #15171a;
  --midgrey: #738a94;
  --whitegrey: rgb(228, 228, 228);
  --brown: #a3821a;
  --gutter-x: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-width: 800px) {
  html {
    font-size: 58%;
  }
}

body {
  color: #303a3e;
  font-family: "Noto Sans", Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
}

::selection {
  background: #cbeafb;
  text-shadow: none;
}

::-moz-selection {
  background: #cbeafb;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  color: #15171a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 5.5rem;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
}
@media (max-width: 500px) {
  h1 {
    font-size: 4.2rem;
  }
}

h2 {
  margin: 1.5em 0 0.5em;
  font-size: 3.2rem;
  font-family: "Bebas Neue", sans-serif;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  margin: 1.5em 0 0.5em;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.4rem;
  }
}

h4 {
  margin: 1.5em 0 0.5em;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 2.2rem;
  }
}

h5, h6 {
  margin: 1.5em 0 0.5em;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  h5, h6 {
    font-size: 1.6rem;
  }
}

a {
  color: rgb(84, 169, 245);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul, ol {
  margin: 0 0 1.5em;
  padding: 0 1.5em 0 1.3em;
}
ul ul, ul ol, ol ul, ol ol {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}
li p {
  margin: 0;
}
li:first-child {
  margin-top: 0;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em;
  border-left: 0.5em solid rgb(228, 228, 228);
}
blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
blockquote small::before {
  content: "— ";
}
blockquote cite {
  font-weight: 700;
}
blockquote cite a {
  font-weight: 400;
}
@media (max-width: 500px) {
  blockquote {
    padding: 0 1.3em;
  }
}

code {
  padding: 0 5px 2px;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 400 !important;
  background: rgb(228, 228, 228);
  border-radius: 3px;
  word-break: break-all;
}

pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: 1px solid #000;
  color: rgb(228, 228, 228);
  font-size: 1.4rem;
  line-height: 1.5em;
  background: #0e1012;
  border-radius: 5px;
}
pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}
pre code :not(span) {
  color: inherit;
}
pre::-moz-selection, pre ::-moz-selection {
  color: #3b474d;
}
pre::selection, pre ::selection {
  color: #3b474d;
}

table {
  display: inline-block;
  overflow-x: auto;
  margin: 0.5em 0 2.5em;
  max-width: 100%;
  width: auto;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.6rem;
  white-space: nowrap;
  vertical-align: top;
  -webkit-overflow-scrolling: touch;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0, transparent 75%) 0, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0, transparent 75%) 100%;
  background-attachment: scroll, scroll;
  background-size: 10px 100%, 10px 100%;
  background-repeat: no-repeat;
}
table td:first-child {
  background-image: linear-gradient(90deg, #fff 50%, hsla(0, 0%, 100%, 0));
  background-size: 20px 100%;
  background-repeat: no-repeat;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(228, 228, 228);
}
@media (max-width: 1040px) {
  hr {
    margin: 1.5em 0;
  }
}
hr + p {
  margin-top: 1.2em;
}

.hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  border-radius: 100%;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  z-index: 100;
  flex-grow: 1;
}

.outer {
  position: relative;
  padding: 0 5vw;
}

.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

/* ==========================================================================
   Header
   ========================================================================== */
.site-home-header {
  background: rgb(20, 28, 95);
  background: linear-gradient(180deg, rgb(84, 169, 245) 0%, rgb(84, 169, 245) 25%, rgb(204, 45, 246) 75%, rgb(238, 122, 141) 100%);
}

.site-header-background {
  position: relative;
}
.site-header-background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  background-color: rgb(20, 28, 95);
  width: 100%;
  height: 50px;
}

.site-header-content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 3vw;
  min-height: 200px;
}
.site-home-header .site-header-content {
  padding: 6vw 0 7vw;
}
.site-archive-header .site-header-content {
  align-items: stretch;
  padding: 75px 0 2vw;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.site-header-content.author-header {
  flex-direction: row;
  align-items: center;
}
.site-header-content.author-header .author-profile-image {
  z-index: 10;
  flex-shrink: 0;
  margin: -4px 0 0;
  width: 110px;
  height: 110px;
  box-shadow: 0 0 0 6px hsla(0, 0%, 100%, 0.1);
  background: rgb(228, 228, 228);
  border-radius: 100%;
  object-fit: cover;
}
.site-header-content.author-header .author-header-content {
  margin: 5px 0 0 30px;
}
.site-header-content.author-header .author-meta {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: 0 0 0 1px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.site-title {
  margin: 0 0 0 -2px;
}
.site-home-header .site-title {
  color: #ffffff;
  font-size: 5.5rem;
  text-align: center;
}
.site-title .site-header-logo {
  width: 225px;
}
@media (max-width: 500px) {
  .site-home-header .site-title {
    font-size: 4.2rem;
  }
}

.post-full-custom-excerpt,
.site-description {
  margin: 0;
  padding: 5px 0;
  font-size: 2.1rem;
  line-height: 1.4em;
}
.site-home-header .post-full-custom-excerpt,
.site-home-header .site-description {
  color: #ffffff;
  letter-spacing: 1px;
}
@media (max-width: 500px) {
  .site-home-header .post-full-custom-excerpt,
  .site-home-header .site-description {
    font-size: 1.8rem;
  }
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.site-nav-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: rgb(20, 28, 95);
}
.home-template .site-nav-main {
  z-index: 100;
}
.home-template .site-nav-main .site-nav {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.home-template .site-nav-main .site-nav.fixed-nav-active {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
}
@media (max-width: 700px) {
  .site-nav-main {
    padding-right: 0;
    padding-left: 0;
  }
}

.site-nav {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 70px;
  font-size: 1.4rem;
}
.home-template .site-nav {
  height: 50px;
}
@media (max-width: 800px) {
  .home-template .site-nav {
    margin-left: -5vw;
  }
}

.site-nav-left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

ul.nav {
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}
ul.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.nav li.dropdown {
  position: relative;
  padding-right: 1em;
}
ul.nav li.dropdown::after {
  opacity: 0.8;
  position: absolute;
  content: " ▶";
  color: rgb(228, 228, 228);
  display: inline-block;
  width: 1em;
  top: 1.65em;
  right: 0.5em;
  font-size: 0.75em;
}
ul.nav li.dropdown .subnav.dropdown-menu {
  visibility: hidden;
  height: 0;
  position: absolute;
  margin: -2px 0 0 0;
  padding: 5px;
  background-color: rgb(20, 28, 95);
}
ul.nav li.dropdown .subnav.dropdown-menu li {
  display: block;
}
ul.nav li.dropdown .subnav.dropdown-menu li a {
  font-size: 1.3rem;
  text-transform: unset;
  position: relative;
  display: block;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
ul.nav li.dropdown .subnav.dropdown-menu li a:hover {
  opacity: 1;
  color: rgb(255, 255, 122);
  transform: translateY(-2px);
  text-decoration: none;
}
ul.nav li.dropdown .subnav.dropdown-menu li a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
ul.nav li.dropdown .subnav.dropdown-menu li a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 12px;
  right: 12px;
  height: 1px;
  background-color: rgb(255, 255, 122);
  transform: scaleX(0);
  transform-origin: center;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
ul.nav li.dropdown:hover, ul.nav li.dropdown:focus {
  opacity: 1;
}
ul.nav li.dropdown:hover .subnav.dropdown-menu, ul.nav li.dropdown:focus .subnav.dropdown-menu {
  visibility: visible;
  height: auto;
}
ul.nav li.dropdown:hover::after, ul.nav li.dropdown:focus::after {
  content: " ▼";
  color: rgb(255, 255, 122);
}

.site-nav-left {
  flex: 1 0 auto;
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 0;
  font-weight: 500;
  letter-spacing: 0.2px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 700px) {
  .site-nav-left {
    margin-right: 0;
    padding-left: 5vw;
  }
}
.site-nav-left .nav {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.site-nav-left .nav li:last-of-type {
  padding-right: 20px;
}
.site-nav-left .nav li a {
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  display: block;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.site-nav-left .nav li a:hover {
  opacity: 1;
  color: rgb(255, 255, 122);
  transform: translateY(-2px);
  text-decoration: none;
}
.site-nav-left .nav li a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.site-nav-left .nav li a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: rgb(255, 255, 122);
  transform: scaleX(0);
  transform-origin: center;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-left .nav-post-title-active .nav {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-175%);
}
.site-nav-left .nav-post-title-active .nav-post-title {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.site-nav-left .nav-post-title {
  visibility: hidden;
  position: absolute;
  top: 9px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: none;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(175%);
}
.site-nav-left .nav-post-title.dash {
  left: -25px;
}
.site-nav-left .nav-post-title.dash::before {
  content: "– ";
  opacity: 0.5;
}

.site-nav-logo {
  position: relative;
  margin-right: 32px;
  color: #ffffff;
}
.site-nav-logo img {
  display: block;
  width: auto;
  height: 50px;
}
.site-home-header .site-nav-logo {
  display: none;
}

.site-nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0;
}
@media (max-width: 700px) {
  .site-nav-right {
    display: none;
  }
}
.site-nav-right .nav {
  position: relative;
  margin: 0;
}
.site-nav-right .nav a {
  white-space: nowrap;
}
.site-nav-right .nav a::before {
  display: none;
}
.site-nav-right .nav li:last-of-type a {
  margin-right: -12px;
}
.site-nav-right .subscribe-button {
  margin-left: 24px;
}

.social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.social-links .social-logo a {
  color: #ffffff;
  font-size: 22px;
  opacity: 0.8;
  padding: 5px 0 0 10px;
}
.social-links .social-logo a:hover {
  opacity: 1;
  color: rgb(255, 255, 122);
}

.social-link {
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.subscribe-button {
  display: block;
  margin: 0 0 0 10px;
  padding: 4px 10px;
  border: 1px solid rgb(255, 255, 122);
  color: rgb(255, 255, 122);
  line-height: 1em;
  border-radius: 10px;
  opacity: 0.8;
}
.subscribe-button:hover {
  text-decoration: none;
  opacity: 1;
}

.rss-button {
  padding: 10px 8px;
  opacity: 0.8;
}
.rss-button:hover {
  opacity: 1;
}
.rss-button svg {
  margin-bottom: 1px;
  height: 2.1rem;
  fill: #fff;
}

/* ==========================================================================
   Utility Classes
   ========================================================================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.nav-login-relative {
  position: relative;
}

.link-underline {
  text-decoration: underline;
}

.comments-area {
  margin-top: 30px;
}

.pager {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 18px;
}
.pager .newer {
  padding-right: 30px;
}
.pager .older {
  padding-left: 30px;
}
.pager .page-number {
  text-align: center;
  display: inline-block;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #ffffff;
  background: rgb(20, 28, 95);
}
.site-footer .site-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.site-footer .site-footer-nav .nav a {
  padding: 12px;
  position: relative;
  display: block;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.site-footer .site-footer-nav .nav a:hover {
  opacity: 1;
  color: rgb(255, 255, 122);
  transform: translateY(-2px);
  text-decoration: none;
}
.site-footer .site-footer-nav .nav a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.site-footer .site-footer-nav .nav a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: rgb(255, 255, 122);
  transform: scaleX(0);
  transform-origin: center;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==========================================================================
   section features
   ========================================================================== */
.section-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 3vw;
}
.section-features.justify-content-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-features .col {
  padding: 0 1rem;
  flex: 0 0 auto;
  width: 31.25%;
}

@media (max-width: 500px) {
  .section-features {
    padding: 0 0 1vw;
    display: block;
  }
  .section-features .col {
    width: 100%;
  }
}
/* ==========================================================================
   Posts Header
   ========================================================================== */
.post-full-header {
  margin: 0 auto;
  padding: 70px 170px 20px;
}
@media (max-width: 1040px) {
  .post-full-header {
    padding: 35px 0 20px;
  }
}
.post-template .post-full-header {
  padding-top: 100px;
}

/* ==========================================================================
   Posts Content
   ========================================================================== */
.post-full-content {
  position: relative;
  min-height: 230px;
  font-size: 2rem;
  line-height: 1.6em;
  padding: 0 170px 3vw;
}
@media (max-width: 1040px) {
  .post-full-content {
    padding: 0 0 3vw;
  }
}
.post-full-content .post-content p {
  margin-bottom: 1.5em;
  white-space: pre-line;
}
.post-full-content .related-posts {
  font-size: 1.6rem;
}
.post-full-content .related-posts li {
  margin: 5px;
}

.read-next-card-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.read-next-card-content li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgb(20, 28, 95);
}
.read-next-card-content li:last-of-type {
  padding-bottom: 5px;
  border: none;
}
.read-next-card-content h4 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.35em;
}

/* ==========================================================================
   Posts Feed
   ========================================================================== */
.posts {
  overflow-x: hidden;
}

.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 70px 0 0;
}
@media (max-width: 800px) {
  .author-template .post-feed, .home-template .post-feed, .tag-template .post-feed {
    padding: 5vw 0 5vw;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.post-card {
  position: relative;
  flex: 1 1 301px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0 40px;
  padding: 0 20px 40px;
  min-height: 220px;
  border-bottom: 1px solid rgb(228, 228, 228);
  background-size: cover;
}
@media (min-width: 795px) {
  .post-card.post-card-large {
    flex: 1 1 100%;
    flex-direction: row;
    padding-bottom: 40px;
    min-height: 280px;
    border-top: 0;
  }
  .post-card.post-card-large:hover {
    border-bottom-color: rgb(228, 228, 228);
  }
  .post-card.post-card-large:not(.no-image) .post-card-header {
    margin-top: 0;
  }
  .post-card.post-card-large .post-card-image-link {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: 0;
    min-height: 380px;
  }
  .post-card.post-card-large .post-card-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .post-card.post-card-large .post-card-content {
    flex: 0 1 361px;
    justify-content: center;
  }
  .post-card.post-card-large .post-card-title {
    margin-top: 0;
    font-size: 3.2rem;
  }
  .post-card.post-card-large .post-card-content-link,
  .post-card.post-card-large .post-card-meta {
    padding: 0 0 0 40px;
  }
  .post-card.post-card-large .post-card-excerpt p {
    margin-bottom: 1.5em;
    font-size: 1.8rem;
    line-height: 1.5em;
  }
}

.post-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
}

.post-card-image {
  width: 100%;
  height: 200px;
  background: rgb(228, 228, 228) no-repeat 50%;
  object-fit: cover;
}

.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-card-content-link {
  position: relative;
  display: block;
  color: #15171a;
}
.post-card-content-link:hover {
  text-decoration: none;
}
.post-card-content-link:hover .post-card-title {
  display: inline-block;
  position: relative;
}
.post-card-content-link:hover .post-card-title::after, .post-card-content-link:hover .post-card-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgb(238, 122, 141), rgb(204, 45, 246), rgb(84, 169, 245));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.post-card-content-link:hover .post-card-title::before {
  top: -5px;
  transform-origin: left;
}
.post-card-content-link:hover .post-card-title:hover::after, .post-card-content-link:hover .post-card-title:hover::before {
  transform: scaleX(1);
}

.post-card-header {
  margin: 15px 0 0;
}
.no-image .post-card-header {
  margin-top: 0;
}
.post-feed .no-image .post-card-header {
  padding: 0;
}

.post-card-primary-tag {
  margin: 0 0 0.2em;
  color: rgb(84, 169, 245);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.post-card-title {
  margin: 0 0 0.4em;
  line-height: 1.15em;
  transition: color 0.2s ease-in-out;
}
.no-image .post-card-title {
  margin-top: 0;
}
@media (max-width: 500px) {
  .post-card-title {
    font-size: 1.9rem;
  }
}

.post-card-excerpt {
  max-width: 56em;
  color: #738a94;
  font-family: Georgia, serif;
}
.post-card-excerpt p {
  margin-bottom: 1em;
}

.author-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 4px;
  padding: 0;
  list-style: none;
}
.author-list .author-list-item {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.author-list .author-list-item .author-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -4px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.7s;
}

.post-full-byline {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0;
  padding-top: 15px;
  border-top: 1px solid rgb(228, 228, 228);
}
.post-full-byline .post-full-byline-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}
.post-full-byline .post-full-byline-content .author-list {
  justify-content: flex-start;
  padding: 0 12px 0 0;
}
.post-full-byline .post-full-byline-meta {
  margin: 2px 0 0;
  color: #90a2aa;
  font-size: 1.2rem;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.post-full-byline .post-full-byline-meta h4 {
  margin: 0 0 3px;
  font-size: 1.3rem;
  line-height: 1.4em;
  font-weight: 500;
}
.post-full-byline .post-full-byline-meta h4 a {
  color: #15171a;
}
.post-full-byline .post-full-byline-meta h4 a:hover {
  color: rgb(20, 28, 95);
}
.post-full-byline .post-full-byline-meta .bull {
  display: inline-block;
  margin: 0 4px;
  opacity: 0.6;
}

.post-card-meta {
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.post-card-meta .avatar-wrapper,
.post-card-meta .profile-image-wrapper {
  position: relative;
}
.post-card-meta .static-avatar {
  display: block;
  overflow: hidden;
  margin: 0 0 0 -6px;
  width: 34px;
  height: 34px;
  border: 2px solid #ffffff;
  border-radius: 100%;
}
.post-card-meta .post-card-byline-content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin: 2px 0 0 6px;
  color: #90a2aa;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.post-card-meta .post-card-byline-content span {
  margin: 0;
}
.post-card-meta .post-card-byline-content a {
  color: #434952;
  font-weight: 600;
}
.post-card-meta .post-card-byline-date {
  font-size: 1.2rem;
}
.post-card-meta .post-card-byline-date .bull {
  display: inline-block;
  margin: 0 4px;
  opacity: 0.6;
}
.post-card-meta .single-author-byline {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  color: #5c7078;
  font-size: 1.3rem;
  line-height: 1.4em;
  font-weight: 500;
}
.post-card-meta .single-author-byline .single-author {
  display: flex;
  align-items: center;
}
.post-card-meta .single-author-byline .single-author .static-avatar {
  margin-left: -2px;
}
.post-card-meta .single-author-byline .single-author-name {
  display: inline-block;
}

.read-next {
  background-color: rgb(84, 169, 245);
  color: #ffffff;
}
.read-next-feed {
  display: flex;
  flex-wrap: wrap;
}
.read-next-feed .read-next-card-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 10px;
}
.read-next-card-meta {
  font-size: 1.3rem;
  line-height: 1.4em;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: rgb(20, 28, 95);
}
.read-next-card-footer a {
  color: rgb(20, 28, 95);
}

/*# sourceMappingURL=style.css.map */
